*{
    margin: 0;
    padding: 0;
    /* outline: red dotted 1px; */
    font-family:sans-serif;
}

body{
    background-color: #C89C6A;
}

.main-container{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.main-container .to-do-container{
display: grid;
background-color: #7A5F41;
height: 10rem;
width: 20rem;
border-radius: 15px;
border-style: double;
border-color: black;
align-items: center;
justify-content: center;
}
.main-container .to-do-container .title-container{
display: grid;
align-items: center;
justify-content: center;
    
}
.main-container .to-do-container .txtbox-btn-container  {
display: flex;
align-items: center;
justify-content: center;
}

.main-container .to-do-container .txtbox-btn-container .user-input-container input{
border-radius: 15px;
border-style: double;
padding-left: 3px;
}
.main-container .to-do-container .txtbox-btn-container .btn-container input{
border:  none;
border-radius: 15px;
font-size: small;
padding: 7px;
margin-left: 10px;
font-weight: bold;
background-color: #b896a9;
cursor: pointer;
}